.container {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    margin-top: 0;
    margin-bottom: 40px;
}

.info {
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 2rem;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.error {
    color: #d93025;
    margin-bottom: 10px;
    font-size: 16px;
}

.public-holidays {
    margin-top: 30px;
    font-size: 16px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    color: #212121;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

li:before {
    content: "•";
    color: #4285f4;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.search-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
.search-icon
{
    margin-top: 0.1rem;
}
.text-input
{
    margin-top: -1.2rem;
}
  
